@mixin typo_base {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: normal;
  letter-spacing: normal;
  text-decoration: none;
}

.app{
  @include typo_base()
}

.headline {
  font-size: 64px;
  margin: 0.5em 0 0.3em 0;
  letter-spacing: 0.3pt;
}

.title {
  font-size: 28px;
  margin: 0.5em 0 0.3em 0;
  letter-spacing: 0.3pt;
}

.subtitle {
  font-size: 24px;
  margin: 0.5em 0 0.3em 0;
  letter-spacing: 0.2pt;
}

.body {
  font-size: 18px;
  letter-spacing: 0.1pt;
  line-height: 24px;
  font-weight: 300;
}

.caption {
  font-size: 14px;
  letter-spacing: 0.08pt;
  line-height: 20px;
  font-weight: 100;
}

.underlined {
  text-decoration: underline;
}